:host.loading #btnSelectFiles, :host.loading #btnUpload {
  display: none;
}

:host.not-loading #btnUploading {
  display: none;
}

:host.loading #loading-container {
  display: block;
}

:host.loading .file-names {
  display: none;
}

/*Needed to overwrite Bootstrap styles*/
.file-names ul {
  margin-bottom: 0;
}

.file-names div {
  min-height: 0;
}

.image-uploader {
  position: relative;
}

.image-uploader form {
  background: 0 0;
  border: 2px dashed #d7d7d7;
  border-radius: 10px;
  font-size: .8em;
  padding: 0;
}

.image-uploader.compact form {
  background: 0 0;
  border: none;
  padding: 0;
}

#loading-container {
  display:none;
  position: absolute;
  left: calc(50% - 84px);
  top: calc(50% - 20px);
}

#loading-container div {
  width: 40px;
  height: 70px;
  display: inline-block;
  vertical-align: middle
}

#btnSelectFiles, #btnUploading {
  height: 45px;
  width: 175px;
  background-color: #0069AA;
  border-color: #0069AA;
  color: #ffffff;
  font-size: 1.4rem;
  bottom: 38px;
  position: relative;
}

#btnUploading {
  cursor: default;
}

#btnSelectFiles:hover {
  background-color: #005183;
}
